@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

body { font-family: "Zilla Slab"; }

h1, h2, h3, h4, h5 { font-family: "Comfortaa"; }

code { font-family: "Space Mono"; font-size: 18px; margin-right: 0px !important; }

.notebook { z-index: -3; display: block; margin: 0px auto; width: 80%; max-width: 1200px;}

.cursor { border-right: 0.01em solid white; }

.juniper-button { background: #ff61a0; color: white; border-radius: 8px 8px 0px 0px; padding: 8px 16px 16px 16px; border: none; position: absolute; top: -45px; right: 0px; transition: all 0.15s ease-in-out; }

.juniper-button:hover { cursor: pointer; background: #ff4791; top: -50px; transition: all 0.15s ease-in-out; }

.juniper-button.running { background: #ffe366; color: black; }

.juniper-button.finished { background: #9fe279; color: black; }

.juniper-button.errored { background: #ff4747; color: white; }

.juniper-cell { border: #625cd6; }

.juniper-input { margin: 10px 20px; overflow-x: scroll; }

.juniper-output { background: white; color: #625cd6; border: 2px solid #625cd6; border-top: none; border-radius: 0px 0px 8px 8px; height: auto; min-height: 30px; max-height: 500px; overflow: scroll; }

.CodeMirror { padding: 0px !important; }

.CodeMirror-scroll { height: auto; }

.cm-s-callysto { font-size: 1.2em; line-height: 1.5em; font-family: "Space Mono"; letter-spacing: 0.3px; word-spacing: 1px; background: none; color: white; }

.cm-s-callysto .CodeMirror-lines { padding: 8px 0; }

.cm-s-callysto .CodeMirror-gutters { box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5); -webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5); background-color: #625cd6; padding-right: 10px; z-index: 3; border: none; }

.cm-s-callysto div.CodeMirror-cursor { border-left: 1px solid white; }

.cm-s-callysto .CodeMirror-activeline-background { background: #49483E; }

.cm-s-callysto .CodeMirror-selected { background: #8985e0; }

.cm-s-callysto .cm-comment { color: #ffc7dd; }

.cm-s-callysto .cm-string { color: #ffe366; }

.cm-s-callysto .cm-number { color: #ade5ff; }

.cm-s-callysto .cm-atom { color: #7ad5ff; }

.cm-s-callysto .cm-keyword { color: #b0adeb; }

.cm-s-callysto .cm-variable { color: #ff61a0; }

.cm-s-callysto .cm-def { font-style: italic; color: #ade5ff; }

.cm-s-callysto .cm-variable-2 { color: #ff4747; }

.cm-s-callysto .cm-property { color: #ade5ff; }

.cm-s-callysto .cm-operator { color: white; }

.cm-s-callysto .CodeMirror-linenumber { color: #c8c8c8; }

pre { overflow-x: scroll; }

.juniper-cell { margin-top: 80px; border: 2px solid white; color: white; width: auto; }

.juniper-cell pre { background: transparent; }

.juniper-cell .hll { background: #4e47d1; }

.juniper-cell .c { color: #ff99aa; font-style: italic; }

.juniper-cell .err { color: #ff4747; }

.juniper-cell .k { color: #ff61a0; }

.juniper-cell .l { color: #ffe366; }

.juniper-cell .n { color: white; }

.juniper-cell .o { color: #ff61a0; }

.juniper-cell .p { color: white; }

.juniper-cell .cm { color: #ff99aa; font-style: italic; }

.juniper-cell .cp { color: #ff99aa; font-style: italic; }

.juniper-cell .c1 { color: #ff99aa; font-style: italic; }

.juniper-cell .cs { color: #ff99aa; font-style: italic; }

.juniper-cell .ge { font-style: italic; }

.juniper-cell .gs { font-weight: 700; }

.juniper-cell .kc { color: #b0adeb; }

.juniper-cell .kd { color: #7ad5ff; }

.juniper-cell .kn { color: #7ad5ff; }

.juniper-cell .kp { color: #7ad5ff; }

.juniper-cell .kr { color: #7ad5ff; }

.juniper-cell .kt { color: #7ad5ff; }

.juniper-cell .ld { color: #ffe366; }

.juniper-cell .m { color: #ff5900; }

.juniper-cell .s { color: #ffe366; }

.juniper-cell .na { color: white; }

.juniper-cell .nb { color: #ffe366; }

.juniper-cell .nc { color: #ffe366; }

.juniper-cell .no { color: #ffe366; }

.juniper-cell .nd { color: #ffe366; }

.juniper-cell .ni { color: #ffe366; }

.juniper-cell .ne { color: #ffe366; }

.juniper-cell .nf { color: white; }

.juniper-cell .nl { color: #ffe366; }

.juniper-cell .nn { color: white; }

.juniper-cell .nx { color: white; }

.juniper-cell .py { color: #ffe366; }

.juniper-cell .nt { color: #ff4747; }

.juniper-cell .nv { color: #ffe366; }

.juniper-cell .ow { font-weight: 700; }

.juniper-cell .w { color: white; }

.juniper-cell .mf { color: #ff5900; }

.juniper-cell .mh { color: #ff5900; }

.juniper-cell .mi { color: #ff5900; }

.juniper-cell .mo { color: #ff5900; }

.juniper-cell .sb { color: #ffe366; }

.juniper-cell .sc { color: #ffe366; }

.juniper-cell .sd { color: #ffe366; }

.juniper-cell .s2 { color: #ffe366; }

.juniper-cell .se { color: #b0adeb; }

.juniper-cell .sh { color: #ffe366; }

.juniper-cell .si { color: #ffe366; }

.juniper-cell .sx { color: #ffe366; }

.juniper-cell .sr { color: #ff61a0; }

.juniper-cell .s1 { color: #ffe366; }

.juniper-cell .ss { color: #7ad5ff; }

.juniper-cell .bp { color: #ffe366; }

.juniper-cell .vc { color: #ffe366; }

.juniper-cell .vg { color: #ffe366; }

.juniper-cell .vi { color: #ff4747; }

.juniper-cell .il { color: #ff5900; }

.juniper-cell .gu { color: #ff99aa; }

.juniper-cell .gd { color: #ff61a0; }

.juniper-cell .gi { color: #9fe279; }

.juniper-cell { border-radius: 10px 0px 10px 10px; background: #625cd6; color: white; }

.juniper-cell pre { padding: 0px 25px; font-size: 1em; line-height: 1.5em; font-family: "Space Mono"; letter-spacing: 0.3px; word-spacing: 1px; }

.tab { color: white; font-family: "Space Mono"; background: #625cd6; border-radius: 8px 8px 0px 0px; padding: 4px 12px 6px 12px; display: inline-block; position: relative; float: left; top: -32px; overflow: show; text-align: right; }
