body { font-family: "Helvetica neue"; }

code { font-family: monospace; font-size: 24px; margin-right: 0px !important; }

.juniper-notebook { display: block; margin: 0px auto; padding-top: 50px; width: 80%; max-width: 1200px;}

.cursor { border-right: 0.01em solid white; }

.juniper-button { background: #263238; color: white; padding: 8px 16px 8px 16px; border: none; position: absolute; top: -34px; right: 0px; transition: all 0.15s ease-in-out; }

.juniper-button:hover { cursor: pointer; background: rgb(109, 110, 99); top: -38px; transition: all 0.15s ease-in-out; }

.juniper-button.running { background: #ffe366; color: black; }

.juniper-button.finished { background: #9fe279; color: black; }

.juniper-button.errored { background: #ff4747; color: white; }

.juniper-cell { margin-top: 80px; border: #263238; background: #263238; color: rgba(233, 237, 237, 1); }

.juniper-cell pre { overflow-x: scroll; padding: 0px 25px; font-size: 1.4em; line-height: 1.5em; font-family: monospace; letter-spacing: 0.3px; word-spacing: 1px; }

.juniper-input { padding: 20px; overflow-x: scroll; }

.juniper-output { background: rgba(233, 237, 237, 1); color: #263238; border: 2px solid #263238; border-top: none; height: auto; min-height: 30px; max-height: 500px; overflow: scroll; }

.CodeMirror { padding: 0px !important; }

.CodeMirror-scroll { height: auto; }

.cm-s-material {
    background-color: #263238;
    color: rgba(233, 237, 237, 1);
}
.cm-s-material .CodeMirror-gutters {
    background: #263238;
    color: #537f7e;
    border: 0;
}
.cm-s-material .CodeMirror-guttermarker,
.cm-s-material .CodeMirror-guttermarker-subtle,
.cm-s-material .CodeMirror-linenumber {
    color: #537f7e;
}
.cm-s-material .CodeMirror-cursor {
    border-left: 1px solid #f8f8f0;
}
.cm-s-material div.CodeMirror-selected {
    background: rgba(255, 255, 255, 0.15);
}
.cm-s-material.CodeMirror-focused div.CodeMirror-selected {
    background: rgba(255, 255, 255, 0.1);
}
.cm-s-material .CodeMirror-line::selection,
.cm-s-material .CodeMirror-line > span::selection,
.cm-s-material .CodeMirror-line > span > span::selection {
    background: rgba(255, 255, 255, 0.1);
}
.cm-s-material .CodeMirror-line::-moz-selection,
.cm-s-material .CodeMirror-line > span::-moz-selection,
.cm-s-material .CodeMirror-line > span > span::-moz-selection {
    background: rgba(255, 255, 255, 0.1);
}
.cm-s-material .CodeMirror-activeline-background {
    background: rgba(0, 0, 0, 0);
}
.cm-s-material .cm-keyword {
    color: rgba(199, 146, 234, 1);
}
.cm-s-material .cm-operator {
    color: rgba(233, 237, 237, 1);
}
.cm-s-material .cm-variable-2 {
    color: #80cbc4;
}
.cm-s-material .cm-variable-3 {
    color: #82b1ff;
}
.cm-s-material .cm-builtin {
    color: #decb6b;
}
.cm-s-material .cm-atom {
    color: #f77669;
}
.cm-s-material .cm-number {
    color: #f77669;
}
.cm-s-material .cm-def {
    color: rgba(233, 237, 237, 1);
}
.cm-s-material .cm-string {
    color: #c3e88d;
}
.cm-s-material .cm-string-2 {
    color: #80cbc4;
}
.cm-s-material .cm-comment {
    color: #546e7a;
}
.cm-s-material .cm-variable {
    color: #82b1ff;
}
.cm-s-material .cm-tag {
    color: #80cbc4;
}
.cm-s-material .cm-meta {
    color: #80cbc4;
}
.cm-s-material .cm-attribute {
    color: #ffcb6b;
}
.cm-s-material .cm-property {
    color: #80cbae;
}
.cm-s-material .cm-qualifier {
    color: #decb6b;
}
.cm-s-material .cm-variable-3 {
    color: #decb6b;
}
.cm-s-material .cm-tag {
    color: rgba(255, 83, 112, 1);
}
.cm-s-material .cm-error {
    color: rgba(255, 255, 255, 1);
    background-color: #ec5f67;
}
.cm-s-material .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}
